.content {
    margin: auto;
    marginTop: 10vh;
    width: 90%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    position: relative;
    height: 400px;
    width: 600px;
}
