.content {
    width: 90%;
    max-width: 1200px;
    margin: 16px auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentHeader,
.results {
    width: 100%;
    margin: 16px auto;
}

.grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
    width: 100%;
    height: 100%;
}

.cover {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.table {
    width: 100%;
}

.searchBar {
    width: 100%;
    max-width: 1200px;
    margin: 16px auto;
}

.infoWindowCard {}

.infoWindowCover {
    height: 210px;
    width: 240px;
    object-fit: cover;
}

.highlight {
    background: #e0e0e0;
}

@media (min-width: 768px) {
    .grid {
	grid-template-columns: repeat(auto-fit, minmax(170px, 288px));
    }

    .cover {
	height: 150px;
    }
}
