p { 
    display: table;
    margin:auto;
    margin-left: 200px;
    margin-right: 200px;
    font-size:20px;
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
    font-size:16px;
}