.content {
	width: 90%;
	max-width: 1200px;
	margin: 16px auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentHeader,
.searchResults {
    width: 100%;
    margin: 16px auto;
}

.searchItemsRestaurants,
.searchItemsEvents,
.searchItemsEntertainment {
	display: grid;
	gap: 16px;
}

.searchItemsEvents,
.searchItemsEntertainment {
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.searchItemsRestaurants {
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.generalCard {
	width: 100%;
	height: 100%;
}

.cardCover {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.highlight {
	background: #e0e0e0;
}

.searchContainer {
	width: 100%;
	max-width: 1200px;
	width: 400px;
	margin: 16px auto;
}

.clearSearchContainer input {
	background: rgba(50, 50, 50, 0.7) !important;
	color: #e8e8e8 !important;
}

.clearSearchContainer input:focus {
	background: rgba(60, 60, 60, 0.7) !important;
	color: #e8e8e8 !important;
}

.clearSearchContainer span.ant-input-group-addon {
	background-color: none !important;
}

.clearSearchContainer button {
	/* background: rgba(80, 80, 80, 0.8) !important; */
	border: none;
}

.filterSection {
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* margin-bottom: 20px; */
}

@media (min-width: 768px) {
	.searchItemsRestaurants,
	.searchItemsEvents,
	.searchItemsEntertainment {
		grid-template-columns: repeat(auto-fit, minmax(170px, 288px));
	}

	.filterSection {
		flex-direction: row;
	}

	/* .searchItemsEntertainment, */
	/* .searchItemsEvents { */
	/* 	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); */
	/* } */

	.cardCover {
	    height: 150px;
	}
}
