h2{
    padding: 30px;
    text-align: center;
    justify-content: center;
}

.container{
    margin: auto;
    width: 65%;
    padding: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card{
    width: 18rem;
    /* margin: auto; */
    /* flex-direction: column; */
    margin-left: 20px;
    /* margin-right: 20px; */
    /* max-width: 345; */
    /* height: 50rem; */
    float: left;
    height: 24rem;
    /* justify-content: center; */
}

.cardcontent{
    text-align: center;
    justify-content: center;
}

.cardaction{
    justify-content: center;
    position: relative;
}

.homeImageStyle {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
      url("https://aquilacommercial.com/wp-content/uploads/2019/05/city-of-austin-skyline.jpg");
    height: 70vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .titleText {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 600;
    align-self: center;
    font-size: 65px;
    color: white;
    width: 50%;
    text-align: center;
  }
