.content {
    width: 90%;
    max-width: 1200px;
    margin: 16px auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentHeader,
.results {
    width: 100%;
    margin: 16px auto;
}
