h2{
    padding: 30px;
    text-align: center;
    justify-content: center;
}

.container{
    margin: auto;
    width: 65%;
    padding: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card{
    /* width: 18rem; */
    margin: auto;
    /* flex-direction: column; */
    margin-left: 20px;
    margin-right: 20px;
    /* margin-bottom: auto; */
    /* float: left; */
    height: 50rem;
    justify-content: center;
}

.cardcontent{
    justify-content: center;
    position: relative;
}

.cardaction{
    justify-content: center;
    position: relative;
}

.media{
    height: 200px;
    width: 200px;
}